#headerDesktop{
  background-color: white !important;
  color: black !important;
  padding: 2% !important;
}
#nav-bar{
  background-color: white !important;
}
.backdrop{
  background-color: rgba(219, 217, 218, 0.33) !important;
}
